.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  background-color: white;
  z-index: 2;
  padding-top: 5px;
}
.sidebar-box{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

}
.sidebar-box:hover{
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.sidebar-box img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-box div{
  font-family: Roboto, Arial;
  font-size: 10px;
}